@{
    ViewBag.Title = "الرئيسيه";
}
<div id="main-content" name="main-content">
    <div class="container-fluid">
        <div>
            <div class="mail-box-navigation">
                <ul class="mail-navigation">
                    <li><a href="@Url.Action("AddArticle", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-pencil"></i> <span>أضافة خبر</span></a></li>
                    <li><a href="@Url.Action("AddColoring", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-pencil-square-o"></i><span>أضافة تلوين</span></a></li>
                    <li><a href="@Url.Action("AddGame", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-gamepad"></i> <span></span>أضافة لعبة</a></li>
                    <li><a href="@Url.Action("AddVideo", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-play-circle"></i><span>أضافة فيديو</span></a></li>
                    <li><a href="@Url.Action("AddIssues", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-file-pdf-o"></i> <span>أضافة عدد</span></a></li>
                    <li><a href="@Url.Action("AddColoring", "Article"@*,  new {area = "News",IsNew="1" }*@)"><i class="fa fa-folder"></i> <span>أضافة تلوين</span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>