@model Labyrinth.Model.ArticleVM
@{
    ViewBag.Title = "تعديل : ";
}

@section Head{
    <link href="~/Content/Addons_Library/jquery.datetimepicker-rtl.css" rel="stylesheet" />
}
<div id="main-content" name="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">Dashboard</h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li class="active">Dashboard</li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->
        <div class="row">
            @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditArticle" }))
            {
                @Html.HiddenFor(a => a.ID)
                @Html.HiddenFor(a => a.CDate)

                <div class="col-md-9">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">الاساسيات</h3>
                                <ul class="panel-control">
                                    <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group marginBlock">
                                    <label class="col-lg-2 control-label noRight HeadLabel">نوع الخبر</label>
                                    <div class="col-md-10 borderForFields">
                                        <select id="Type" name="Type" style="width: 100%;" class="chosen-container-single selectize-input">
                                            <option value="1" @(Model != null && Model.Type == 1 ? "selected" : "")>خبر</option>
                                            <option value="2" @(Model != null && Model.Type == 2 ? "selected" : "")>مقال</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group marginBlock">
                                    <label class="col-lg-2 control-label noRight HeadLabel">العنوان الفرعى</label>
                                    <div class="col-lg-10 noLeft">
                                        @Html.EditorFor(model => model.SubTitle, new { htmlAttributes = new { @class = "form-control", @onkeyup = "countSubTitle(this)", @onkeydown = "countSubTitle(this)" } })
                                        @Html.ValidationMessageFor(model => model.SubTitle, "", new { @class = "text-danger" })
                                        <input type="text" id="countsubtitle" name="countsubtitle" class="count-num" disabled>
                                    </div>
                                </div>
                                <div class="form-group marginBlock">
                                    <label class="col-lg-2 control-label noRight HeadLabel">العنوان الرئيسى</label>
                                    <div class="col-lg-10 noLeft">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @onkeyup = "countTitle(this)", @onkeydown = "countTitle(this)" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        <input type="text" id="counttitle" name="counttitle" class="count-num" size="20" disabled>
                                    </div>
                                </div>

                                <div class="form-group marginBlock">
                                    <label class="col-lg-2 control-label noRight HeadLabel">القسم</label>
                                    <div class="col-md-10 borderForFields">
                                        @Html.DropDownListFor(model => model.SecID, (IEnumerable<SelectListItem>)ViewBag.SecIdList, "اختر القسم", new { @class = "selectize-input", @style = "width: 100%;" })
                                        @Html.ValidationMessageFor(model => model.SecID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group marginBlock">
                                    <label class="col-md-2 control-label noRight HeadLabel">الملخص</label>
                                    <div class="col-md-10 borderForFields">
                                        @Html.TextAreaFor(model => model.Brief, new { @class = "col-md-12", @onkeyup = "countBrief(this)", @onkeydown = "countBrief(this)", @rows = "7", })
                                        @Html.ValidationMessageFor(model => model.Brief, "", new { @class = "text-danger" })
                                        <input type="text" id="countbrief" name="countbrief" class="count-numText" size="20" disabled>
                                    </div>
                                </div>


                                <div class="form-group marginBlock TextEditorBlock">
                                    <label class="col-lg-12 control-label HeadLabel">الخبر</label>
                                    <div class="col-lg-12 TextEditorBlockBorder">
                                        <div class="panel panel-default EditWidth">
                                            <div class="panel-body no-padding">
                                                <div class="summernote " id="StoryCode" name="StoryCode">
                                                    @Html.Raw(Model.Story)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">الكتاب</h3>
                                <ul class="panel-control">
                                    <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group marginBlock" id="divEditorID" name="divEditorID">
                                    <label class="col-lg-12 control-label noRight HeadLabel">بقلم</label>
                                    <div class="col-md-12 borderForFields">
                                        @*@Html.DropDownListFor(model => model.EditorID, (IEnumerable<SelectListItem>)ViewBag.EditorIdList, "اختر الكاتب", new { @class = "selectize-input", @style = "width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.EditorID, "", new { @class = "text-danger " })*@
                                        @Html.ListBoxFor(m => m.SelectedEditors, new MultiSelectList(ViewBag.EditorsList, "Value", "Text"), new { @id = "Editors", @class = "chosen" })
                                        @Html.ValidationMessageFor(model => model.Editors, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group marginBlock">
                                    <label class="col-md-12 control-label noRight HeadLabel">كتب</label>
                                    <div class="col-md-12 noLeft">
                                        @Html.EditorFor(model => model.WrittenBy, new { htmlAttributes = new { @class = "form-control", @onkeyup = "countWrittenby(this)", @onkeydown = "countWrittenby(this)" } })
                                        @Html.ValidationMessageFor(model => model.WrittenBy, "", new { @class = "text-danger" })
                                        <input ng-model="writtenbydata" type="text" id="countwrittenby" name="countwrittenby" class="count-num" size="20" disabled>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">الصورة</h3>
                                <ul class="panel-control">
                                    <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group marginBlock">
                                    <div class="col-lg-6 noLeft noPadding">
                                        <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#AddImage">اضافة</button>
                                    </div>

                                    <div class="col-lg-6 noLeft noPadding">
                                        <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#ChooseImage">اختيار</button>
                                    </div>

                                    <div class="col-lg-12 noLeft noPadding img-Block">
                                        <img src="@Model.ImagePath" id="featuredimage" name="featuredimage" class="img-responsive" />
                                        <input type="hidden" id="AttachmentID" name="AttachmentID" value="@Model.AttachmentID" />
                                        <div class="EditBar">
                                            <i class="fa fa-edit"></i>
                                            <i class="fa fa-eye"></i>
                                            <i class="fa fa-trash-o"></i>
                                        </div>
                                    </div>

                                    <div>
                                        <label class="col-md-12 control-label noRight HeadLabel">تعليق الصوره</label>
                                        <div class="col-md-12 noLeft">
                                            @Html.EditorFor(model => model.ImageCaption, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ImageCaption, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">اجراءات تكميليه</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group marginBlock">
                                    <label class="col-md-12 control-label noRight HeadLabel">تاجز</label>
                                    <div class="col-md-12 noLeft">
                                        @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "input-tags col-lg-12 noLeft" } })
                                        @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group marginBlock">
                                    <label class="col-md-12 control-label noRight HeadLabel">الاخبار المتعلقه</label>
                                    <div class="control-group col-md-12 noLeft">
                                        <select id="relatedNews" class="demo-default selectize-input"></select>
                                    </div>
                                </div>

                                <div class="form-group marginBlock">
                                    <label class="col-md-12 control-label noRight HeadLabel">ملاحظات</label>
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control col-md-12 noLeft", @rows = "7", @style = "max-width: 90% !important; margin:auto; float:none" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">اجراءات النشر</h3>
                                <ul class="panel-control">
                                    <li><a class="minus" href="javascript:void(0)"><i class="fa fa-minus"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group marginBlock">
                                    <div class="noLeft" id="Schdeuled" name="Schdeuled">
                                        @*@Html.LabelFor(model => model.SchdeuledPublish, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-12 borderForFields">
                                            @Html.EditorFor(model => model.SchdeuledPublish, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SchdeuledPublish, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group marginBlock checkbox3 SubmitBlock">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(model => model.IsApproved, new { @style = "" })
                                                    @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                                                    @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                            </div>
                                            @*<div class="col-md-6">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(model => model.IsApproved, new { @style = "" })
                                                        @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(model => model.IsApproved, new { @style = "" })
                                                        @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(model => model.IsApproved, new { @style = "" })
                                                        @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    </div>
                                                </div>*@
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-info btn-lg">حفظ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- Main Content Element  End-->
    </div>
</div>
@section scripts{
    <!-- Modal -->
    <div id="AddImage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">اضافة صوره</h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("AddFeaturedImageArticle", "Attachment");}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>


    <div id="ChooseImage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">اختار صورة</h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("ChooseImageArticle", "Attachment", new { @Take = 100, @PageID = 0 });}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/js/ArticleValidation.js"></script>
    @Scripts.Render("~/Scripts/Addons_Library/jquery.datetimepicker.full.min.js")
    @Scripts.Render("~/Scripts/Addons_Library/selectize.min1.js")

    <script>

        jQuery('#SchdeuledPublish').datetimepicker();

        //if ($('#Type').length > 0) {
        //    if ($('#Type').val() == 1) {
        //        $('#SecID').prop("disabled", false);
        //        $('#EditorID').prop("disabled", true);
        //        $('#divEditorID').hide();
        //    }
        //    else if ($('#Type').val() == 2) {
        //        $('#SecID').prop("disabled", true);
        //        $('#EditorID').prop("disabled", false);
        //        $('#divEditorID').show();
        //    }
        //}

        //$('#main-content').on('change', '#Type', function () {
        //    var val = $(this).val();
        //    if (val == 1) {
        //        $('#EditorID').prop("disabled", true);
        //        $('#SecID').prop("disabled", false);
        //        $('#divEditorID').hide();
        //    }
        //    else if ($('#Type').val() == 2) {
        //        $('#EditorID').prop("disabled", false);
        //        $('#SecID').prop("disabled", true);
        //        $('#divEditorID').show();
        //    }
        //});

        $('#EditArticle').submit(function (e) {
            var Story = htmlEscape($('#StoryCode').summernote().code());
            $('<input />').attr('type', 'hidden')
                .attr('name', "Story")
                .attr('id', "Story")
                .attr('value', Story)
                .appendTo('form');
        });

        function htmlEscape(str) {
            return String(str)
                .replace(/&/g, '&amp;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#39;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;');
        }

        $('#ChooseImage').on('click', '#btnChooseimage', function () {
            $('#featuredimage').attr('src', $('#ImgChooseimage_' + $(this).attr("data-id")).attr('src'));
            $('#AttachmentID').val($(this).attr("data-id"));
        });

        $('#Editors').selectize({
            create: false,
        });

        obj.EditorList = $('#Editors').val();
        if (obj.EditorList) {
            var Editor = new Array();
            for (var i = 0; i <= obj.EditorList.length - 1; i++) {
                var Current = new Object();
                Current.Id = obj.EditorList[i];
                Editor.push(Current)
            }
            obj.Editors = Editor;
            obj.EditorList = $('#Editors').val().join(',');
        }

    </script>
}