@model List<Labyrinth.Model.ArticleVM>
@{
    ViewBag.Title = "GatAllArticle";
}
@section Head{
    <link href="~/Content/simplePagination.css" rel="stylesheet" />
}
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">Dashboard</h3>
                <!--Top header end -->fff
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="active">الاخبار المنشوره</li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <ul class="subsubsub">
                    <li class="allsubsubsub" id="PublishArticle" name="PublishArticle">
                        <a class="current">الاخبار المنشوره <span class="count">(@ViewBag.CountPublishArticle)</span></a>
                    </li>
                    <li class="allsubsubsub" id="UnPublishArticle" name="UnPublishArticle">
                        <a>الاخبار الغير منشوره<span class="count">(@ViewBag.CountUnPublishArticle)</span></a>
                    </li>
                    <li class="allsubsubsub" id="DeletedArticle" name="DeletedArticle">
                        <a>الاخبار المحزوفه<span class="count">(@ViewBag.CountDeletedArticle)</span></a>
                    </li>
                    <div class="clearfix"></div>
                </ul>

                <input type="hidden" id="IsApproved" name="IsApproved" value="true" />
                <input type="hidden" id="IsDeleted" name="IsDeleted" value="false" />
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">بحث مفصل</h3>
                    </div>
                    <div class="panel-body">
                        <div class="ls_form">
                            <div class="col-md-2 ls-group-input">
                                <select class="form-control" id="ddlType" name="ddlType">
                                    <option value="0">النوع</option>
                                    <option value="1">خبر</option>
                                    <option value="2">مقال</option>
                                </select>
                            </div>

                            <div class="col-md-2 ls-group-input">
                                @*@Html.DropDownList("SecId", new List<SelectListItem>()@ViewBag.SecIdList})*@
                                @Html.DropDownList("ddlSecID", new SelectList(ViewBag.SecIdList, "Value", "Text"), new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control rounded" name="txtfilter" id="txtfilter" placeholder="اسم الخبر">
                            </div>

                            <div class="col-md-2">
                                <input type="text" class="form-control rounded" name="txtNewsID" id="txtNewsID" placeholder="رقم الخبر">
                            </div>

                            <div class="col-md-2">
                                <button name="btnSearch" id="btnSearch" class="btn btn-default btn-round" type="button">بحث</button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!--Table Wrapper Start-->
            <div id="DivGetAllNews" name="DivGetAllNews" class="table-responsive ls-table">
                @Html.Hidden("ListCount", (object)ViewBag.CountPublishArticle)
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <input class="icheck-blue checkAll" type="checkbox" id="checkRed2" value="option2" />
                            </th>
                            <th>العنوان</th>
                            <th>النوع / القسم</th>
                            <th>التاريخ</th>
                            <th>أخر تعديل</th>
                            @*<th>#</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input class="icheck-blue" type="checkbox" id="checkRed2" value="option2" />
                                </td>
                                <td class="firstTh">
                                    @item.Title
                                    <div class="row-actions">
                                        <a class="edit" href="/Article/Edit/@item.ID">تعديل</a>
                                        <span class="quickedit">تعديل سريع</span>
                                        <span class="edit">حذف</span>
                                        <span class="edit">عرض</span>
                                    </div>
                                    <div class="quickEditForm">
                                        <div>
                                            <input type="text" class="" value="" name="" />
                                        </div>
                                        <button class="btn ls-blue-btn btn-round doneEditForm">حفظ</button>
                                        <button class="btn ls-red-btn btn-round cancelEditForm">الغاء</button>
                                    </div>
                                </td>
                                <td>
                                    @if (item.Type == 1)
                                    {
                                        @Html.Raw("خبر ( <span class='label label-warning'>" + item.SecTitle + "</span> )");
                                    }
                                    else if (item.Type == 2)
                                    {
                                        @Html.Raw("مقال ( <span class='label label-warning'>" + item.EditorName + "</span> )");
                                    }
                                </td>
                                <td>
                                    @item.CurrentUserName
                                    <br />
                                    @if (item.SchdeuledPublish != "")
                                    {
                                        <span style="color: red;font-size: 12px;line-height: 25px;font-weight: 600;">[نشر مؤرخ] <br />  @item.SchdeuledPublish</span>
                                    }
                                    else
                                    {
                                        @item.CDate
                                    }
                                </td>
                                <td>
                                    @if ((item.IsDeleted == false) && (item.IsApproved == true))
                                    {
                                        <span class='label label-warning'>
                                            منشور
                                        </span>
                                    }
                                    else if ((item.IsDeleted == true) && (item.IsApproved == false))
                                    {
                                        <span class='label label-warning'>
                                            غير منشور
                                        </span>
                                    }
                                    else if ((item.IsDeleted == true))
                                    {
                                        <span class='label label-warning'>
                                            محذوف
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div id="ListPager" class="paging-div" style="clear:both;">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--Table Wrapper Finish-->
        </div>
        <!-- Main Content Element  End-->
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script>
        $(document).ready(function () {
            //toogle

            //$("#DivGetAllNews").on("mouseenter", ".firstTh", function () {
            //    $(this).find(".row-actions").show();
            //});

            //$("#DivGetAllNews").on("mouseleave", ".firstTh", function () {
            //    $(this).find(".row-actions").hide();
            //});

            //$("#DivGetAllNews").on("click", ".quickedit", function () {
            //    $(this).parent().next().show();
            //    $(this).parent().hide();
            //});

            //$("#DivGetAllNews").on("click", ".cancelEditForm", function () {
            //    $(this).parent(".quickEditForm").hide();
            //});

            $("#DivGetAllNews").on("change", ".checkAll", function () {
                $("input:checkbox").prop('checked', $(this).prop("checked"));
            });

            $("#btnSearch").click(function () {
                LoadMore(0);
            });

            $("#PublishArticle").click(function () {
                $('#IsApproved').val("true");
                $('#IsDeleted').val("false");

                $('#txtfilter').val('');
                $('#ddlSecID').val('0');
                $('#txtNewsID').val('');

                LoadMore(0);
            });

            $("#UnPublishArticle").click(function () {
                $('#IsApproved').val("false");
                $('#IsDeleted').val("false");

                $('#txtfilter').val('');
                $('#ddlSecID').val('0');
                $('#txtNewsID').val('');
                LoadMore(0);
            });

            $("#DeletedArticle").click(function () {
                $('#IsApproved').val("false");
                $('#IsDeleted').val("true");

                $('#txtfilter').val('');
                $('#ddlSecID').val('0');
                $('#txtNewsID').val('');
                LoadMore(0);
            });

            //toogle

            var ArticleCount = $('#ListCount').val();
            $('#ListPager').pagination({
                items: ArticleCount,
                itemsOnPage: 10,
                prevText: null,
                //nextText: null,
                //cssStyle: 'light-theme',
                onPageClick: function (pageNumber, event) {
                    LoadMore(pageNumber - 1);
                    //$("body").animate({ scrollTop: 0 }, 500);
                }
            });


            function LoadMore(PageID) {
                var Filter = $('#txtfilter').val();
                var IsApproved = $('#IsApproved').val();
                var IsDeleted = $('#IsDeleted').val();
                var TypeID = $('#ddlType').val();
                var SecID = $('#ddlSecID').val();
                var NewsID = $('#txtNewsID').val();

                if (!NewsID)
                    NewsID = 0;

                if (!SecID)
                    SecID = 0;

                Filter = "";
                SecID = 0;

                $.ajax({
                    type: "GET",
                    url: '/Article/FetchArticles?Take=10' + '&PageID=' + PageID + '&Filter=' + Filter + '&NewsID=' + NewsID + '&SecID=' + SecID + '&TypeID=' + TypeID + '&IsApproved=' + IsApproved + '&IsDeleted=' + IsDeleted,
                    contentType: "html",
                    //data: SearchArticles,
                    cache: false,
                    async: false,
                    success: function (msg) {
                        $('#DivGetAllNews').html('');
                        $('#DivGetAllNews').html(msg);
                        var ArticleCount = $('#ListCount').val();
                        $('#ListPager').pagination({
                            items: ArticleCount,
                            itemsOnPage: 10,
                            cssStyle: 'light-theme',
                            onPageClick: function (pageNumber, event) {
                                LoadMore(pageNumber - 1);
                            }
                        });
                        $('#ListPager').pagination('drawPage', PageID + 1);
                    }
                });
            }




        });
    </script>
}
