@model Labyrinth.Model.OrderVM
@{
    ViewBag.Title = "GetArticleForREorder";
}

@if (Model != null)
{
    if (Model.SecId > 0)
    {
        <li class="ui-state-default ui-sortable-handle" style="padding-right: 30px;height: 60px !important;background: url('../../Images/article-icon.png') 100% 15px no-repeat scroll rgb(230, 230, 230) !important;line-height: 25px;font-size: 14px;font-weight: 600;" data-id="@Model.NewsId">
            @Model.NewsTitle <span style="color: red;"> [@Model.SecTitle]</span>
        </li>
    }
    else
    {
        @Model.SecId
    }
}


<ul id="sortable">
    @foreach (var item in Model)
    {
        <li class="ui-state-default" data-id="@item.NewsID" data-type="@item.Type" title="@item.Notes"> <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item.NewsTitle<span style="color: red;"> [@item.SecTitle]</span></li>
    }
</ul>